{{!< default}}
{{! The comment above "< default" means - insert everything in this file into the {body} of the default.hbs template, which contains our header/footer. }}

<div class="mtheme-container" id="mtheme-home-container">
  <div class="surface">
    <div class="screen-content">
      <div id="scrollPinOne" class="clearfix"></div>
      <div class='background-size-full image-source'>
        <div class="header-content">
          {{> blog_header}}
          <i class="fa fa-angle-down fa-fw fa-lg header-down-arrow" data-action="scroll-to-post-start"></i>
        </div>
      </div>
      <div class="main foreground scrolling-region">
        <div class="background-white">
          <div class="container">
            <ul class="post-list">
              {{#foreach posts}}
                {{> post_listitem}}
              {{/foreach}}
            </ul>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="row">
                  {{pagination}}
                </div>
              </div>
            </div>
          </div>
          <footer>
            <div class="container clearfix">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  {{> blog_footer}}
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
