{{!< default}}
{{! The comment above "< default" means - insert everything in this file into the {body} of the default.hbs template, which contains our header/footer. }}

<div class="mtheme-container" id="mtheme-home-container">
  <div class="surface">
    <div class="screen-content">
      <div class="main foreground scrolling-region">
        <div class="background-white">
          <div class="container">
            <div class="row">
              <div class="col-xs-6 col-xs-offset-3 tag-button-container">
                <span class="tag-button">
                  {{tag.name}} <a href="{{@blog.url}}"><i class="fa fa-times"></i></a>
                </span>
              </div>
            </div>
            
            <ul class="post-list">
              {{#foreach posts}}
                {{> post_listitem}}
              {{/foreach}}
            </ul>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="row">
                  {{pagination}}
                </div>
              </div>
            </div>
          </div>
          <footer>
            <div class="container clearfix">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  {{> blog_footer}}
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
